body {
  font-family: "Roboto", "sans-serif";

  height: 2349px;
  color: #757575;
  margin: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
:root {
  --color-variable: #2196f3;
  --color-title: #212121;
  --color-text: #757575;
  --color-background: #2f303a;
  --color-slogan: #fff;
  --color-adress: #fff;
  --color-footer-contact: rgba(255, 255, 255, 0.6);
  --color-background-button: #f5f4fa;
}

.top {
  border-bottom: 1px solid #ececec;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top .container {
  display: flex;
  align-items: center;
}
.top a {
  text-decoration: none;
  color: var(--color-title);
}
.top a:hover,
.top a:focus {
  color: var(--color-variable);
}
.top h3 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-title);
  display: inline;
}

.higlight {
  color: var(--color-variable);
}
nav {
  display: inline;
}
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline;
  margin-left: 93px;
}
.list li {
  display: inline;
}
.list li:nth-child(2) {
  padding-right: 46px;
  padding-left: 46px;
}

.contact {
  list-style: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline;
  margin-left: auto;
  margin-right: 12px;
}
.contact li {
  display: inline;
}
.contact li:first-child {
  padding-right: 50px;
}
.contact a {
  color: var(--color-text);
}

.slogan {
  height: 600px;
  background: var(--color-background);
  display: flex;
  justify-content: center;
  padding-top: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/image/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slogan-text {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-slogan);
  width: 700px;
  margin: auto;
}
.slogan-button {
  width: 200px;
  height: 50px;
  background: var(--color-variable);
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
}
.advantages {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}
.advantages-list {
  list-style: none;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
  display: flex;
  text-align: left;
}
.advantages-list-item {
  width: 270px;
}
.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}
.advantages-indention {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-title);
}

.list-offer {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.offer {
  padding-top: 0;
  display: flex;
  justify-content: center;
}
.offer-caption {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  padding-bottom: 50px;
}
.team {
  background: #f5f4fa;
  display: flex;
  justify-content: center;
}
.team-caption {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}
.team ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

figure {
  margin: 0;
}

.team-list {
  height: 368px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
  background-color: white;
}
.team-indention {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}
.bottom {
  height: 252px;
  background: var(--color-background);
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.bottom-list {
  list-style: none;
  text-align: left;
  padding-left: 0;
}
footer a {
  text-decoration: none;
}
.studio {
  color: #fff;
}

.bottom address {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-adress);
}

.bottom-contact {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-footer-contact);
}
.bottom a:hover,
.bottom a:focus {
  color: var(--color-variable);
}
.pushbutton {
  display: flex;
  justify-content: center;
}
.pushbutton button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  margin-top: 94px;
  padding: 6px 22px;
}
.pushbutton-list {
  list-style: none;
  display: inline;
}
.pushbutton-list-item {
  display: inline;
}
.pushbutton-list-item:nth-child(n + 1) {
  padding-left: 8px;
}
.pushbutton button:hover,
.pushbutton button:focus {
  background: var(--color-variable);
  color: #fff;
}
.portfolio {
  padding-bottom: 64px;
}
.portfolio-list {
  list-style: none;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-text);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}
.portfolio-image {
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-indention {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
  text-align: start;
  padding-left: 24px;
}
.portfolio-indention-text {
  text-align: start;
  padding-left: 24px;
}
.container {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;
}
